body{background:#111;color:#eee;font-family:sans-serif;margin:0;padding:20px;}
h1{color:#6fc8ff}
#logo{cursor:pointer;padding:10px;border:1px solid #6fc8ff;display:inline-block;margin-top:20px;border-radius:5px}
